.Header{
    background: url('../../public/images/Ellipse1440.png')0 0/100% 100% no-repeat;
    height: 466px;
    text-align: center;
    transition: all ease 0.5s;
}

.header-logo{
    margin: 20px 0px;
}

.header-body{
     max-width: 784px;
     margin: 0px auto;
}


@media(max-width:1200px){
    .Header{
        background: url('../../public/images/Ellipse1024.png')0 0/100% 100% no-repeat;
    }
}

@media(max-width:992px){
    .Header{
        background: url('../../public/images/Ellipse768.png')0 0/100% 100% no-repeat;
        height: 349px;
    }

    .header-body{
        max-width: 562px;
        max-height: 229px;
    }
}


@media(max-width:992px){
    .Header{
        background: url('../../public/images/Ellipse768.png')0 0/100% 100% no-repeat;
        height: 349px;
    }
    .header-logo{
        margin: 15px 0px 0px 0px;
    }
}

@media(max-width:376px){
    .Header{
        background: url('../../public/images/Ellipse320.png')0 0/100% 100% no-repeat;
        height: 500px;
    }
    
} 